* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fizzbuzz {
    background-color: #083b4c;
    padding-top: 5em;
}

.container-fizzbuzz h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    margin-bottom: 1em;
}
  
.container-number {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
  
.box {
    width: calc(100% / 8);
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blu {
    background-color: #1389b2;
}

.buzz {
    background-color: #ffd166;
}

.fizz {
    background-color: #0bd6a1;
}

.fizzbuzz {
    background-color: #f0466f;
}